<div class="container">
    <div class="card m-5 p-3">
        <div class="card-body">
            <table datatable class="row-border over">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let file of files">
                        <td>{{ file.identifier }}</td>
                        <td>{{ file.nameAndExtension }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>