<table datatable [dtOptions]="dataTableOptions" class="row-border hover">
  <tbody *ngIf="files?.length != 0">
    <tr *ngFor="let file of files; let i = index">
      <td>
        {{ i + 1 }} - {{ file.nameAndExtension }}
        <button mat-mini-fab color="primary" aria-label="See" routerLink="/read-file-bytes/{{ file.identifier }}/{{ encodeURIComponent(file.downloadLink) }}/{{ encodeURIComponent(file.mimeType) }}">
          <mat-icon>pageview</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="files?.length == 0">
    <tr>
      <td colspan="2" class="no-data-available">No data!</td>
    </tr>
  </tbody>
</table>